#root {
  width: 100%;
  height: 100%;
}

.App {
  display: block;
  justify-content: center;
  background-color: #47614d;
  width: 100%;
  height: 100%;
}

.header {
  display: block;
  text-align: center;
  width: 100%;
  height: 100px;
}
.header > span {
  font-size: 50px;
  margin-top: 20px;
  color: white;
}
.body {
  background-color: #47614d;
  width: 100%;
  height: 100%;
}
.cardSection {
  display: flex;
  justify-content: center;
  flex-flow: row;
  align-items: center;
  box-sizing: border-box;
  height: 477px;
  width: 100%
}

.portfolio-closed-div {
  width : 20%;
  height: 80%;
  background-color: white;
  margin-left : 40%
} 

.linksSection {
  width : 100%;
  height : 200px;
}
.logo-container {
  display: grid;
  grid-template-columns: repeat(4,50px);
  grid-gap: 20px;
  margin-left : 40%;
}
 .icon-links {
  font-size: 45px !important;
  color: #fff;
  cursor: pointer;
 }

.about-card {
  display: flex;
  order: 1;
height: 450px;
}

.skills {
  display: flex;
  float: left;
  background-color: #ecf0f1;
  order: 1;
  width: 250px;
  height: 400px;
}

.work-experience {
  display: flex;
  float: right;
  background-color: #ecf0f1;
  order :1;
  width: 250px;
  height: 400px;
}
.work-experience > h4 {
  justify-content: center;
  text-align: center;
}
.card-title {
  border-bottom: var(--secondary) solid 1px !important;
}

#experience .timeline {
  list-style-type: none;
  position: relative;
}
#experience .timeline:before {
  content: ' ';
  background: var(--secondary);
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
#experience ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
#experience ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #6c757d;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
} 
#main-container {
  height: 100vh;
}
@media (max-width : 425px) {
  #root {
    width: 100%;
    height: 100%;
  }
  
  .App {
    display: block;
    justify-content: center;
    background-color: #47614d;
    width: 100%;
    height: 100%;
  }
  #main-container {
    height: 100%;
  }
}